.tool-bar
	width 100%
	box-sizing border-box
	position sticky
	top 0
	padding 3rem
	background rgba(#4E4F50, .9)

	@media screen and (max-width 600px)
		position static

	ul
		display flex
		justify-content space-evenly
		font-size 1.5rem
		font-weight bold

		@media screen and (max-width 600px)
			flex-direction column

		li
			cursor pointer
