@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400&display=swap')
@import './libs/Reset'

html
	background #746C70

	#app
		display flex
		flex-direction column
		width 100%
		height max-content
		font-family 'Titillium Web', sans-serif
		font-size 16px
		color #E2DED0

		.router-view
			margin 5rem 2rem
